:root {
  --primary: #44624a;
  --secondary: #748c71;
  --third: #9dbc9a;
  --beige: #e4ddd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varta', sans-serif;
}


.hero-section {
  min-height: 300px;
  background-color: var(--beige);
  align-items: center;
  box-shadow: 0 1px 3px #908c85;
}

.hero-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 0;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--primary);
}

.hero-text h1{
  margin: 0;
  font-size: 3.5em;
  line-height: 1.2;
}

.hero-text p {
  max-width: 600px;
  line-height: 1.4;
  font-size: 1.2em;
  margin-top: 1rem;
  padding-right: 40px;
}

.hero-image {
  width: 40%;
  align-self: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.hero-image img {
  max-width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Navigation Bar */
.navbar {
  background-color: var(--primary);
  padding: 2.5rem 0; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar li {
  margin: 0 1.2rem;
}

.nav-link {
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  font-size: 0.96rem;
  font-weight: 600;
  border-radius: 8px;
  color: white;
}

.navbar a:hover, .navbar a.active {
  background: var(--secondary);
  color: white;
}

/*Video Gallery*/
.container {
  background-color: var(--third);
}

.video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 2rem;
}

.video-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}